
body {background-color: #0e1b1c; color: #7ff5ff; font-family: Courier; font-weight: bold; margin: 0 0 0 0} 

/*{border: 1px dashed; ;}*/

div {color: #7ff5ff; 
	}

a { color: #407b7f; text-decoration: none; font-size: 18px}

a:hover {color: #7ff5ff; text-decoration: underline;}
a:visited {color: #040708;}

.header { height: 60px;
	width: 200px;
	border: 2px solid black;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

}

.content {height: 600px;
	width: 80%;
	border: 2px solid black;
	margin-left: auto;
	margin-right: auto;
	float: right;
	text-align: left;


}

.sidebar {height: 600px;
	width: 15%;
	border: 2px solid black;
	margin-left: auto;
	margin-right: auto;
	float: left;
	text-align: center;

}

.bottom {
	
	clear: both;
	width: 99.5%;
	border: 2px solid black;

}
