html {background-color: #0e1b1c; color: #7ff5ff;}

body {margin: 0 0 0 0;
		}

div {font-family: Courier; color: #7ff5ff}

a { color: #7ff5ff; text-decoration: none; font-size: 18px}

a:hover {color: #7ff5ff; text-decoration: underline; font-style: italic;}
a:visited {color: #7ff5ff; font-weight: bolder; text-decoration: line-through;}

#indexpane {display: inline-block;
			border: 5px solid #7ff5ff;
			border-radius: 10% solid #7ff5ff;
			height: 85%;
			width: 20%;
			float: left;
			margin-left: 5px;
			margin-top: 5px;
			margin-bottom: 2px;
			text-align: center;
			padding: 10px;
			}

#mainindexlink {display: inline-block;
				text-align: right;
				margin-top: 10px;
				margin-right: 85px;
				float: right;
				height: 30px;
				width: 10%;
				padding-top: 15px;
			}

#welcome {	display: inline-block;
			height: 200px;
			width: 40% ;
			margin-left: 200px;
			margin-top: 100px;
			text-align: center;
			font-weight: bolder;
			position: static;
			}

#Mugshotoftheauthor {	display: inline-block;
						text-align: right;
						float: right;
						margin-top:  95px;
						margin-bottom: 5px;
						margin-right: 75px;
						height: 150px;
						width: 10%;
					}

.fb-like {margin-right: auto;
			margin-left: auto;}


